{% extends "layout/__base.html" %}

{% block "header_title" %}All Armies evar{% endblock %}

{% block body %}
<h1>Campaign {{campaign.title}}, Army: {{army.title}}</h1>

<h3>Divisions and Players by Division</h3>
<ul>
  {% for division in army.divisions.all %}
  <li>
    {{division.title}}
    <ul>
      {% for player in division.player.all %}
      <li>
        {{player.title}}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<h3>All Players</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Division</th>
      <th>Rank</th>
      <th>Medals</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for participation in participations %}
  <tr>
    <td>{{participation.player.title}}</td>
    <td>{{participation.division.title}}</td>
    <td>{{participation.current_rank.title}}</td>
    <td>{{participation.medals.all|join:'<br />'}}</td>
    <td>
      <a class="btn btn-primary"
         href="{% url 'abcapp.campaign.army.member.edit' pk=army.campaign.id army_id=army.id participation_id=participation.id %}">
        Edit
      </a>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}

